body
    padding 10px 30px

form.search
    input
        width 350px

#status
    height 25px
    margin 5px 0
    span
        font-style italic
        color gray

#users
    max-height 300px
    padding 9px 14px
    background-color #f7f7f9
    border 1px solid #e1e1e8
    border-radius 4px

    overflow auto
    a
        display block
        margin-bottom 10px
    img
        max-width 70px
        max-height 70px
