body
    padding 50px 80px

form.search
    input
        width 350px

#status
    height 25px
    margin 5px 0
    span
        font-style italic
        color gray

#users
    overflow auto
    a
        display block
        margin-bottom 10px
